<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam tempora recusandae iste animi? Obcaecati tempora
        aliquam at animi facere sunt, id architecto, quod magnam sequi totam delectus. Iusto, laboriosam est?</p>
        <button>Click me</button>

</body>

</html>